.faq-title {
    cursor: pointer;
    position: relative;
    padding-right: 50px;
    font-size: 20px; 
}

.faq-content {
    display: none;
    color: #393939;
    font-size: 16px; 
}

.faq-item.active{
    border-color: #393939 !important;
}

.lawfirmpro-faq-item.active .faq-content,
.faq-item.active .faq-content {
    display: block;
}

@media (max-width: 1024px) {
  .faq-title {
    font-size: 18px;
    padding-right: var(--wp--preset--spacing--lg);
  }
}

@media (max-width: 768px) {
  .faq-title {
    font-size: 16px;
    padding-right: 32px;
  }
  .faq-content {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .faq-title {
    font-size: 15px;
    padding-right: 28px;
  }
  .faq-content {
    font-size: 14px;
    line-height: 1.5;
  }
}