header {
  overflow: hidden;
}

.header-logo {
  max-width: 121px;
}

.header-menu .wp-block-navigation__responsive-container-open,
.header-overlay-close-btn {
  border: 1px solid var(--wp--preset--color--secondary);
  border-radius: 50%;
}

.header-menu {
  order: 3;
}

.header-contact {
  order: 2;
  margin-left: auto !important;
  margin-right: 5px !important;
}

.header-menu li a:hover {
  color: lightgrey;
}

@media (min-width: 600px) {
  .header-contact {
    order: 3;
    margin: 0 !important;
  }
}

@media (min-width: 600px) and (max-width: 630px) {
  .header-menu li a span {
    font-size: 10px !important;
  }
  .header-contact {
    font-size: 10px !important;
  }
}

@media (min-width: 631px) and (max-width: 767px) {
  .header-menu li a span {
    font-size: 12px !important;
  }
  .header-contact {
    font-size: 12px !important;
  }
}

@media (min-width: 1024px) {
  .header-logo {
    max-width: 100%;
  }
  header {
    margin-top: 24px;
  }
}
