<!-- wp:template-part {"slug":"header-version-2","area":"uncategorized"} /-->

<!-- wp:group {"className":"practice-areas-main","style":{"spacing":{"blockGap":"10px","padding":{"top":"var:preset|spacing|lg","bottom":"56px"}},"border":{"top":{"color":"var:preset|color|accent-8","width":"1px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group practice-areas-main" style="border-top-color:var(--wp--preset--color--accent-8);border-top-width:1px;padding-top:var(--wp--preset--spacing--lg);padding-bottom:56px">

<!-- wp:pattern {"slug":"lawfirmpro/practice-areas"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
