<!-- wp:template-part {"slug":"header-version-2","area":"uncategorized"} /-->

<!-- wp:pattern {"slug":"lawfirmpro/contact-hero"} /-->

<!-- wp:group {"className":"consultation-main","style":{"spacing":{"padding":{"top":"64px","bottom":"64px"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group consultation-main" style="padding-top:64px;padding-bottom:64px"><!-- wp:columns {"verticalAlignment":null,"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|0","left":"var:preset|spacing|0"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"center","width":"","className":"contact-map","style":{"spacing":{"blockGap":"var:preset|spacing|0"}},"layout":{"type":"default"}} -->
<div class="wp-block-column is-vertically-aligned-center contact-map">

<!-- wp:pattern {"slug":"lawfirmpro/contact-consultation"} /-->

<!-- wp:shortcode -->
<?php echo do_shortcode('[lawfirmpro_map]'); ?>
<!-- /wp:shortcode --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","className":"contact-form","backgroundColor":"accent-5"} -->
<div class="wp-block-column is-vertically-aligned-top contact-form has-accent-5-background-color has-background">

<!-- wp:pattern {"slug":"lawfirmpro/contact-form"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
