<!-- wp:group {"className":"hero-section-wrapper","layout":{"type":"default"}} -->
<div class="wp-block-group hero-section-wrapper"><!-- wp:template-part {"slug":"header-version-2","align":"wide"} /-->
<!-- wp:pattern {"slug":"lawfirmpro/home-hero-v2-banner"} /--></div>
<!-- /wp:group -->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"lawfirmpro/home-v2"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->